CORERADIO_IMAGE=coreradio-index:local
CORERADIO_CONTAINER_NAME=coreradio-index
CORERADIO_PORT=8080

# Set this to the URL Lidarr and your browser can reach.
PUBLIC_BASE_URL=http://10.19.21.114:8080

# Use absolute host paths on the Docker/Portainer host.
CORERADIO_DATA_PATH=/opt/coreradio-index/data
CORERADIO_DOWNLOADS_PATH=/downloads/coreradio

CORE_BASE_URL=https://coreradio.online
DEFAULT_REFRESH_PAGES=2
MAX_REFRESH_PAGES=20
CRAWLER_CONCURRENCY=3
CRAWLER_DELAY_MS=350
REQUEST_TIMEOUT_MS=25000
DOWNLOAD_TIMEOUT_MS=120000
ALLOW_AD_LINKS=false
